doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Благотворительный фонд 707' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top screen
      section.top-screen
        .top-screen__imgs
          .container
            img(src="./images/top-screen-img-1.png", alt="").img1
            img(src="./images/top-screen-img-2.png", alt="").img2
            img(src="./images/top-screen-img-3.png", alt="").img3
            img(src="./images/top-screen-img-4.png", alt="").img4
            img(src="./images/top-screen-img-5.png", alt="").img5
        .top-screen__img
          img(src="./tmp/top-screen.png", alt="")
        .container
          .top-screen__head
            h1 Кошерная 
              span продуктовая помощь евреям СНГ
          .top-screen__content
            p Если из-за бедности еврей перестаёт быть евреем, не соблюдая кашрут, весь мир обязан протянуть ему руку помощи
            +btn('Оказать помощь')(href='#!')

      // Content
      .content

          // Mission
          section#mission.mission
            .container
              .content__head
                h2 Наша миссия

              p Частный благотворительный Фонд «770» ведет свою деятельность с 2018 благодаря финансовой помощи группы бизнесменов. 
              p «Кошерный дом» - флагманский проект фонда. Он направлен на помощь тысячам евреев, которые находятся за чертой бедности и не могут позволить себе купить кошерные продукты. В наших с вами силах не допустить, чтобы из-за финансовых проблем евреи отказывались от исполнения важной заповеди, от своих корней и в итоге отходили от Торы. 
          // /end Mission

          // Money
          section#money.money
            .container
              .money__wrapper
                .div1
                  .money__wrapper-top
                    .money__block.--start
                      .money__block-head Уже собрано
                      .money__block-price $ 350 000
                    .money__block.--left
                      .money__block-head Осталось собрать
                      .money__block-price $ 850 000
                .div2
                  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' style='display: none;')
                    symbol#wave
                      path(d='M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z')
                      path(d='M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z')
                      path(d='M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z')
                      path(d='M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z')
                  .money__box
                    .money__box-percent
                      .money__box-percentNum#count 0
                    #water.water
                      svg.water_wave.water_wave_back(viewBox='0 0 560 20')
                        use(href='#wave')
                      svg.water_wave.water_wave_front(viewBox='0 0 560 20')
                        use(href='#wave')
                .div3
                  .money__info
                    .div1
                      .money__info-percent %
                    .div2
                      p Вот столько уже собрано благодаря всеобщему нашему обьединению не безразличных людей
                  .money__block.--target
                    .money__block-head Цель
                    .money__block-price $ 1 200 000
          // /end Money

          // Money
          section.money
            .container
              .money__wrapper
                .div1
                  .money__wrapper-top
                    .money__block.--start
                      .money__block-head Сбор закончен
                      .money__block-price Спасибо
                    .money__block.--left
                      .money__block-head Собрали
                      .money__block-price $ 1 200 000
                .div2
                  svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' style='display: none;')
                    symbol#wave2
                      path(d='M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z')
                      path(d='M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z')
                      path(d='M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z')
                      path(d='M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z')
                  .money__box
                    .money__box-percent
                      .money__box-percentNum#count2 0
                    #water2.water
                      svg.water_wave.water_wave_back(viewBox='0 0 560 20')
                        use(href='#wave')
                      svg.water_wave.water_wave_front(viewBox='0 0 560 20')
                        use(href='#wave')
                .div3
                  .money__info
                    .div1
                      .money__info-percent %
                    .div2
                      p Вот столько уже собрано благодаря всеобщему нашему обьединению не безразличных людей
                  .money__block.--target
                    .money__block-head Цель
                    .money__block-price $ 1 200 000
          // /end Money

          // Video
          section#video.video
            .container
              .video__wrapper
                .div1
                  .content__head
                    h2 Видео 
                      span о проекте
                  .video__content
                    p Рассказ о нашем благотворительном фонде ведет Любавичский Ребе 
                .div2
                  .video__div
                    img(src="./tmp/video-img.png", alt="")
                    a(href="https://www.youtube.com/watch?v=0-7IHOXkiV8" data-fancybox="").video__div-link
          // /end Video

          // Beneficiaries
          section#beneficiaries.beneficiaries
            .container
              .content__head
                h2 Подопечные Фонда «770»
              .beneficiaries__row
                div
                  .beneficiaries__block
                    .beneficiaries__block-thumb
                      img(src="./tmp/beneficiaries-img-1.png", alt="")
                    p Люди, соблюдающие кашрут, но не имеющие финансовой возможности покупать кошерные продукты.
                div
                  .beneficiaries__block
                    .beneficiaries__block-thumb
                      img(src="./tmp/beneficiaries-img-2.png", alt="")
                    p Одинокие пожилые люди, пенсионеры
                div
                  .beneficiaries__block
                    .beneficiaries__block-thumb
                      img(src="./tmp/beneficiaries-img-3.png", alt="")
                    p Матери-одиночки, многодетные семьи
          // /end Beneficiaries

          // Geography
          section#geography.geography
            .container
              .content__head
                h2 География нашей помощи
              .geography__wrapper
                .div1
                  .geography__content
                    p.geography__description Фонд «770» оказывает помощь 50 еврейским общинам в 46 городах России и Белоруссии. Поддержка особенно нужна евреям из небольших городов, где средняя зарплата составляет менее $250, а пенсия – $150. 
                    p Многие люди находятся на грани выживания и не могут позволить себе покупать дорогостоящие кошерные продукты. Часто их главная задача – просто выжить.  
                .div2
                  .geography__carousel
                    div
                      .geography__block
                        img(src="./tmp/geography-img-1.png", alt="").img-fluid
                        .geography__block-text 100 Общин, 250 городов
                      .geography__city Россия
                    div
                      .geography__block
                        img(src="./tmp/geography-img-2.png", alt="").img-fluid
                        .geography__block-text 100 Общин, 250 городов
                      .geography__city Беларусь
                    div
                      .geography__block
                        img(src="./tmp/geography-img-1.png", alt="").img-fluid
                        .geography__block-text 100 Общин, 250 городов
                      .geography__city Россия
                    div
                      .geography__block
                        img(src="./tmp/geography-img-2.png", alt="").img-fluid
                        .geography__block-text 100 Общин, 250 городов
                      .geography__city Беларусь
          // /end Geography

          // Results
          section#results.results
            .container
              .content__head
                h2 Результаты проекта «Кошерный дом» за 2020 год 
              .results__wrapper
                .div1
                  .results__block
                    .results__block-head 2 000
                    p Количество продуктовых наборов ежемесячно
                .div2
                  .results__block
                    .results__block-head 4 000
                    p Дополнительные праздничные наборы (Рош а-Шана, Ханука, Пурим, Песах) 
                .div3
                  .results__block
                    .results__block-head 7 500
                    p Дополнительные детские праздничные наборы (Рош а-Шана, Ханука, Пурим)
                .div4
                  .results__block.--last
                    p К сожалению, сегодня этого недостаточно! Людей, нуждающихся в нашей помощи, стало намного больше. Только совместными усилиями мы сможем помочь всем!
          // /end Results

          // number
          section#number.number
            .container
              .content__head
                h2 В 2021 году мы хотим увеличить количество ежемесячных благотворительных наборов с 2000 до 5000.
              .number__wrapper
                .div1
                  .number__thumb
                    img(src="./tmp/number-img-1.png", alt="")
                .div2
                  .number__content
                    p Стоимость 1 продуктового набора - $50
                    p
                      strong Содержание кошерного продуктового набора: 
                    ol
                      li 2 курицы 
                      li Куриная нарезка
                      li Колбаса 
                      li Сосиски
                      li Вино или сок
                      li Кондитерские изделия
                    a(href="#!").btn Помочь
          // /end number

          // recommendation
          section#recommendation.recommendation
            .container
              .recommendation__wrapper
                .div1
                  .content__head
                    h2
                      span Рекомендации 
                      | от раввинов
                  .recomendation__content
                    p Мы работаем с раввинами из 50 еврейских общин России, Белорусси, Украины, Израиля
                  ul.recomendation__list.nav.nav-tabs#myTab(role='tablist')
                    li.recomendation__list-item(role='presentation')
                      a.recomendation__link.active#tab1-tab(data-toggle='tab' href='#tab1-content' role='tab' aria-controls='tab1-content' aria-selected='true')
                        span.recomendation__link-thumb
                          img(src="./tmp/recomendation-img-1.png", alt="")
                        span.recomendation__link-block
                          span.recomendation__link-name Берл Лазар
                          span.recomendation__link-desription Главный Раввин России
                    li.recomendation__list-item(role='presentation')
                      a.recomendation__list-link#tab2-tab(data-toggle='tab' href='#tab2-content' role='tab' aria-controls='tab2-content' aria-selected='false')
                        span.recomendation__link-thumb
                          img(src="./tmp/recomendation-img-1.png", alt="")
                        span.recomendation__link-block
                          span.recomendation__link-name Ицхак Коган 
                          span.recomendation__link-desription Раввин
                .div2
                  .tab-content
                    .tab-pane.active#tab1-content(role='tabpanel' aria-labelledby='tab1-tab') 1
                    .tab-pane#tab2-content(role='tabpanel' aria-labelledby='tab2-tab') 2

          // /end recommendation

          // form
          section#form.form
            .container
              .content__head
                h2 form
          // /end form

          // direction
          section#direction.direction
            .container
              .content__head
                h2 direction
          // /end direction

          // family
          section#family.family
            .container
              .content__head
                h2 family
          // /end family

      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script.
      $(document).on('ready', function(){
        var cnt=document.getElementById("count"); 
        var water=document.getElementById("water");
        var percent=cnt.innerText;
        var interval;
        interval=setInterval(function(){ 
          percent++; 
          cnt.innerHTML = percent; 
          water.style.transform='translate(0'+','+(100-percent)+'%)';
          if(percent==35){
            clearInterval(interval);
          }
        },60);

        var cnt2=document.getElementById("count2"); 
        var water2=document.getElementById("water2");
        var percent2=cnt2.innerText;
        var interval2;
        interval2=setInterval(function(){ 
          percent2++; 
          cnt2.innerHTML = percent2; 
          water2.style.transform='translate(0'+','+(100-percent2)+'%)';
          if(percent2==100){
            clearInterval(interval2);
          }
        },60);
      })